
*.ckpt
**/data/FashionMNIST/
# Dataset archives
# Deep learning datasets - keep locally, do not upload
**/fashion-mnist/
**/FashionMNIST/
**/*.idx
**/*.idx.gz
# Model checkpoints
pract'c/tiny-imagenet-200.zip
*.pt
*.pth
*.pyc
__pycache__/
# Python
*.tar
*.tar.gz
*.tgz
**/tiny-imagenet-200/
**/tiny-imagenet-200.zip
tiny-imagenet-200.zip
*.zip
DL_IA_1/train_20000.npz
DL_IA_1/*.npz
DL-lab13/gene_accessibility/Basset/data/encode_roadmap.fa
DL-lab13/gene_accessibility/Basset/data/encode_roadmap.bed
DL-lab13/gene_accessibility/Basset/data/encode_roadmap_act.txt
DL-lab13/gene_accessibility/Basset/data/genomes/
*.h5
DL-lab13/gene_accessibility/Basset/data/
